@import url();
body{
    background-image: url("anya.jpg");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: blueviolet;
    margin-left: 20px;
}
p{
    color: blue;
    margin-left: 20px;
}